## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [33]:
lista_ciudades = ['Valencia', 'Berlin', 'Tokio', 'Hong Kong', 'Otawa']

2) Imprimir por pantalla el segundo elemento de la lista

In [15]:
print(lista_ciudades[1])

Berlin

3) Imprimir por pantalla del segundo al cuarto elemento

In [16]:
print(lista_ciudades[1:4])

['Berlin', 'Tokio', 'Hong Kong']

4) Visualizar el tipo de dato de la lista

In [17]:
type(lista_ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [18]:
print(lista_ciudades[2:])

['Tokio', 'Hong Kong', 'Otawa']

6) Visualizar los primeros 4 elementos de la lista

In [19]:
print(lista_ciudades[:4])

['Valencia', 'Berlin', 'Tokio', 'Hong Kong']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [20]:
lista_ciudades.append('Honk Kong')
lista_ciudades.append('Guayaquil')
print(lista_ciudades)

['Valencia', 'Berlin', 'Tokio', 'Hong Kong', 'Otawa', 'Honk Kong', 'Guayaquil']

8) Agregar otra ciudad, pero en la cuarta posición

In [21]:
lista_ciudades.insert(3, 'Madrid')
print(lista_ciudades)

['Valencia', 'Berlin', 'Tokio', 'Madrid', 'Hong Kong', 'Otawa', 'Honk Kong', 'Guayaquil']

9) Concatenar otra lista a la ya creada

In [22]:
lista_ciudades.extend(['Lisboa', 'Moscu', 'Congo'])
print(lista_ciudades)

['Valencia', 'Berlin', 'Tokio', 'Madrid', 'Hong Kong', 'Otawa', 'Honk Kong', 'Guayaquil', 'Lisboa', 'Moscu', 'Congo']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [23]:
print(lista_ciudades.index('Honk Kong'))

6

11) ¿Qué pasa si se busca un elemento que no existe?

(Si el elemento no existe va a arrojar un error)

12) Eliminar un elemento de la lista

In [24]:
lista_ciudades.remove('Tokio')
print(lista_ciudades)

['Valencia', 'Berlin', 'Madrid', 'Hong Kong', 'Otawa', 'Honk Kong', 'Guayaquil', 'Lisboa', 'Moscu', 'Congo']

13) ¿Qué pasa si el elemento a eliminar no existe?

(Si el elemento no existe va a arrojar un error)

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [25]:
ultima = lista_ciudades.pop()
print(ultima)

Congo

15) Mostrar la lista multiplicada por 4

In [26]:
lista_ciudades2 = lista_ciudades*2 
print(lista_ciudades2)

['Valencia', 'Berlin', 'Madrid', 'Hong Kong', 'Otawa', 'Honk Kong', 'Guayaquil', 'Lisboa', 'Moscu', 'Valencia', 'Berlin', 'Madrid', 'Hong Kong', 'Otawa', 'Honk Kong', 'Guayaquil', 'Lisboa', 'Moscu']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [4]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [5]:
print(tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [6]:
type(tupla)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [7]:
print(tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [8]:
print(20 in tupla)
print(30 in tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [34]:
'Paris' in lista_ciudades

False

In [35]:
elemento = 'Paris'

if elemento in lista_ciudades:
    print(f"La ciudad {elemento} se encuentra en la lista")
else:
    lista_ciudades.append(elemento)
    print(f"La ciudad {elemento} fue agregadada en la lista")

La ciudad Paris fue agregadada en la lista

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [9]:
print(tupla.count(10))

1

In [28]:
print(lista_ciudades2.count('Honk Kong'))

2

21) Convertir la tupla en una lista

In [29]:
lista2 = list(tupla)
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [42]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [44]:
v1, v2, v3, = tup
print(v1)
print(v2)
print(v3)

ValueError: too many values to unpack (expected 3)

In [47]:
v1, v2, v3, = tup
print(v1)
print(v2)
print(v3)

ValueError: too many values to unpack (expected 3)

23) Crear un diccionario utilizando la lista creada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [51]:
lis

['Buenos Aires',
 'Brasilia',
 'Santiago de chile',
 'Ciudad de Mexico',
 'Asuncion',
 'La Paz',
 'Lima',
 'Caracas',
 'Bogota']

In [62]:
diccionario = {
    "Ciudad": "Valencia",
    "Pais": "Venezuela",
    "Continente": "Sudamerica"
}

In [53]:
print(diccionario)

{'Ciudad': 'Valencia', 'Pais': 'Venezuela', 'Continente': 'Sudamerica'}

In [54]:
type(diccionario)

dict

24) Imprimir las claves del diccionario

In [55]:
print(diccionario.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

In [56]:
diccionario.keys()

dict_keys(['Ciudad', 'Pais', 'Continente'])

In [58]:
diccionario.values()

dict_values(['Valencia', 'Venezuela', 'Sudamerica'])

In [57]:
diccionario["Pais"]

'Venezuela'

In [59]:
diccionario["Continente"]

'Sudamerica'

25) Imprimir las ciudades a través de su clave

In [63]:
diccionario["Ciudad"]

'Valencia'

In [65]:
print(diccionario['Ciudad'])

Valencia

EJERCICIOS EN VIVO

LISTAS

In [4]:
lis = ['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Asuncion', 'La Paz', 'Lima', 'Caracas']

In [5]:
print(lis[1])

Brasilia

In [6]:
print(lis[4])

La Paz

In [7]:
print(type(lis))

<class 'list'>

In [8]:
print(lis[2:])

['Santiago de chile', 'Asuncion', 'La Paz', 'Lima', 'Caracas']

In [9]:
print(lis[:4])

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Asuncion']

In [10]:
lis.append('Caracas')
lis.append('Bogota')
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Caracas', 'Bogota']

In [11]:
lis.insert(3, 'Ciudad de Mexico')
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Caracas', 'Bogota']

In [12]:
otra_lista = ['Paris', 'Londres', 'Roma']
lis.extend(otra_lista)
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Caracas', 'Bogota', 'Paris', 'Londres', 'Roma']

In [13]:
lista11 = [1,2,3]
lista22 = [4,5,6]
lista_concatenada = lista11 + lista22
print(lista_concatenada)

[1, 2, 3, 4, 5, 6]

In [15]:
lis.index('Caracas')

7

In [16]:
for i, elemento in enumerate(lis):
    print(i, elemento)

0 Buenos Aires
1 Brasilia
2 Santiago de chile
3 Ciudad de Mexico
4 Asuncion
5 La Paz
6 Lima
7 Caracas
8 Caracas
9 Bogota
10 Paris
11 Londres
12 Roma

In [17]:
lis.remove('Londres')
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Caracas', 'Bogota', 'Paris', 'Roma']

In [21]:
lis.pop()

'Roma'

In [22]:
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Caracas', 'Bogota', 'Paris']

In [23]:
del lis[7]
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota', 'Paris']

In [24]:
ultima = lis.pop()
print(ultima)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota']

In [25]:
print(lis * 4)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota', 'Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota', 'Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota', 'Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota']

In [26]:
print(lis)

['Buenos Aires', 'Brasilia', 'Santiago de chile', 'Ciudad de Mexico', 'Asuncion', 'La Paz', 'Lima', 'Caracas', 'Bogota']

TUPLAS

In [29]:
tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [66]:
lista = [

for i in range(1,21):
    lista.append(1)

tup = tupla(lista)
print(tup)
type(tup)
]

SyntaxError: invalid syntax (1206454882.py, line 3)

In [27]:
enteros = tuple(range(1,21))
print(enteros)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [30]:
print(tup[10:16])

(11, 12, 13, 14, 15, 16)

In [31]:
print(20 in tup)
print(30 in tup)

True
False

In [36]:
print(tup.count(10))

1

In [38]:
print(lis.count('Buenos Aires'))

1

In [40]:
lis2 = list(tup)

In [41]:
print(lis2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]