In [1]:
a = 10
print (a)

10

In [3]:
type(a)

int

In [2]:
print(a)

10

In [5]:
b = 'Hola Mundo'
print(b)

Hola Mundo

In [6]:
type(b)

str

In [8]:
c = 0.23
print(c)

0.23

In [9]:
type(c)

float

In [10]:
d = '0.23'
print(d)

0.23

In [11]:
type(d)

str

In [12]:
verdadero = True
print(verdadero)

True

In [13]:
type(verdadero)

bool

In [26]:
x = 7

print(x )

7

In [20]:
#x += x+2
x += 2
print(x)

9

In [24]:
x -=2
print(x)

8.5

In [22]:
x*=3
print(x)

21

In [27]:
x/=2
print(x)

3.5

In [28]:
x = 3
y =12

In [29]:
print(x + y)

15

In [30]:
print(x - y)

-9

In [32]:
#potencia
print(y**x)

1728

In [35]:
#devolver el resto de una division --> %
x = 13
y = 3

print(x % y)

1

In [34]:
# Parte entera
print(x // y)

4

In [37]:
x = 13
y = 3

print(x == y)

False

In [38]:
#Es distinto?
print(x != y)

True

In [39]:
# x es mayor que y?
print(x > y)

True

In [41]:
# x es menor que y ?
print(x < y)

False

In [45]:
# concatenacion de trings
a = "Hola "

b = "Mundo"

print(a+b)

Hola Mundo

In [46]:
# concatenar multiplicar strings

c = "jaja!"
d = c *3
print(d)

jaja!jaja!jaja!

In [47]:
# AND
x = 5
y = 12

print(x>0 and y<10)

False

In [48]:
# AND
print(x>0 and y>10)

True

In [49]:
# OR
print(x>0 or y>10)

True

CONVERSION DE TIPO DE DATOS

In [50]:
a = '2'
b = 2

In [51]:
type(a)

str

In [52]:
type(b)

int

In [54]:
#convierto en numero entero
c = int(a)
type(c)

int

In [56]:
d = '0.24'
e = float(d)
print(e)
type(e)

0.24

float

In [57]:
f = '2,5'
g = float(f)

ValueError: could not convert string to float: '2,5'