## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 10
print(x)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
c = 8.5
type(c)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Rama"

5) Crear una variable que contenga un número complejo

In [5]:
num_complejo = 1 + 2j
print(num_complejo)

(1+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(num_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416
print(pi)

3.1416

In [8]:
# Redondea el numero por defecto a
import math
round(math.pi,4)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
valor1 = 'True'
valor2 = True
valor1 == valor2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [10]:
print(type(valor1))
print(type(valor2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
a = 1.2 + 2
a

3.2

11) Realizar una operación de suma de números complejos

In [12]:
num_complejo2 = 1 + 1j
num_complejo3 = 2 + 2j

resultado = num_complejo2 + num_complejo3
print(resultado)

(3+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
d = num_complejo2 + 2.61
print(d)

(3.61+1j)

13) Realizar una operación de multiplicación

In [14]:
print(7 * 8)

56

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
a = 2**8
print(a)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [17]:
parte_entera = 27 // 4 
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
resto = 27 % 4 
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [19]:
resultado = 4 * parte_entera + resto
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [20]:
var1 = "Clase 1 y "
var2 = "Clase 2"
var3 = var1 + var2
print(var3)

Clase 1 y Clase 2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [21]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [22]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [23]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [ ]:
a = float('3.8')
type(a)

float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [ ]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

en el sistema binario tenemos 1 y 0

1 en binario = 0001
resultado = 0100

In [ ]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
float(2) + float('2')

In [ ]:
int(2) + int('2')

In [ ]:
str(2) + str('2')

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
frase = 'ja'
print(frase * 6)

jajajajajaja

In [ ]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

In [ ]:
frase_2 = f"{frase} {val} veces"
print(frase_2)

In [ ]:
frase_3 = "{} {} veces" .format(frase, val)
print(frase_3)